*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.page_container__jZF7q {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
} 
.page_form_container__6x9d0 {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}
.navbar {
  height: 80px;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid black;
}
.navbar img {
  cursor: pointer;
}
.footbar {
  height: 100px;
  width: 100vw;
  background-color: black;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footbar a {
  color: white;
  cursor: pointer;
}